.quote-container{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 6px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 21px 0px rgba(0,0,0,0.75);
    height: auto;
    width: 500px;
    text-align: center;
  
}   

.quote{
    font-size: 21px;
    margin: 20px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.author{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: rgb(202, 93, 93);
    margin: 10px;
    letter-spacing: 3px;

}
.button{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 7px;
    width: 100px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


  
  /* Styles for screens narrower than 480px */
  @media (min-width: 320px) and (max-width:480px) {
     .quote-container{
        width:270px;
    } 
    .quote-author{
        font-weight: bold;
        font-size: 17px;
        color: rgb(202, 93, 93);
        margin: 10px;
    
    }

    .quote-button{
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 7px;
        width: 90px;
        margin-top: 10px;
    }
    
  }